<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-8">
            <mat-card >
              
              <mat-card-content>
                <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
                 </mat-paginator>    
          
              </mat-card-content>
           
              
            </mat-card>
          </div>
          </div>

    </div>
  </div>