<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">

        <mat-card>
          <mat-card-content>

            <span class="col-md-2">
              <app-custom-buttons [buttonColor]="'basic'" [buttonText]="'Basic Button'"></app-custom-buttons>
            </span>
            <span class="col-md-2">
              <app-custom-buttons [buttonColor]="'primary'" [buttonText]="' Primary'"></app-custom-buttons>
            </span>
            <span class="col-md-2">
              <app-custom-buttons [buttonColor]="'accent'" [buttonText]="' Accent'"></app-custom-buttons>
            </span>
            <span class="col-md-2">
              <app-custom-buttons [buttonColor]="'warn'" [buttonText]="' Warn'"></app-custom-buttons>
            </span>
            <span class="col-md-2">
              <button mat-raised-button disabled>Disabled</button>
            </span>
            <span class="col-md-2">
              <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
            </span>
            
          </mat-card-content>

        </mat-card>




      </div>
    </div>

  </div>
</div>