.submenu-container {
    position: absolute;
    bottom: -100%; /* Adjust as needed */
    left: 0;
    display: none;
  }
  
  .nav-item:hover .submenu-container {
    display: block;
  }

  .submenu {
    display: none;
  }
  
  .has-submenu:hover .submenu {
    display: block;
    /* Adjust styles as needed */
  }
  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  